<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    {{ block "body" . }}
        <body data-section="{{ .Section }}" data-kind="{{ .Kind }}">
    {{ end }}
    
        <div class="container">
            {{ partial "header.html" . }}

            {{ block "main" . }}{{ end }}

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>
